<% if (data) { %>
<% if (action == 2 || action == 3) {%>
<div class="container">
	<div class="row justify-content-center">
		<div class="card">
			<div class="card-body table-responsive p-0" >
				<table class="table table-head-fixed text-nowrap">
					<thead>
						<tr>
							<th scope="col">Rates </th>
							<th scope="col">Currency </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>CAD</td>
							<td><%= data.rates.CAD%></td>
						</tr>
						<tr>
							<td>HKD</td>
							<td><%= data.rates.HKD%></td>
						</tr>
						<tr>
							<td>ISK</td>
							<td><%= data.rates.ISK%></td>
						</tr>
						<tr>
							<td>PHP</td>
							<td><%= data.rates.PHP%></td>
						</tr>
						<tr>
							<td>DKK</td>
							<td><%= data.rates.DKK%></td>
						</tr>
						<tr>
							<td>HUF</td>
							<td><%= data.rates.HUF%></td>
						</tr>
						<tr>
							<td>CZK</td>
							<td><%= data.rates.CZK%></td>
						</tr>
						<tr>
							<td>AUD</td>
							<td><%= data.rates.AUD%></td>
						</tr>
						<tr>
							<td>RON</td>
							<td><%= data.rates.RON%></td>
						</tr>
						<tr>
							<td>SEK</td>
							<td><%= data.rates.SEK%></td>
						</tr>
						<tr>
							<td>IDR</td>
							<td><%= data.rates.IDR%></td>
						</tr>
						<tr>
							<td>INR</td>
							<td><%= data.rates.INR%></td>
						</tr>
						<tr>
							<td>BRL</td>
							<td><%= data.rates.BRL%></td>
						</tr>
						<tr>
							<td>RUB</td>
							<td><%= data.rates.RUB%></td>
						</tr>
						<tr>
							<td>HRK</td>
							<td><%= data.rates.HRK%></td>
						</tr>
						<tr>
							<td>JPY</td>
							<td><%= data.rates.JPY%></td>
						</tr>
						<tr>
							<td>THB</td>
							<td><%= data.rates.THB%></td>
						</tr>
						<tr>
							<td>CHF</td>
							<td><%= data.rates.CHF%></td>
						</tr>
						<tr>
							<td>SGD</td>
							<td><%= data.rates.SGD%></td>
						</tr>
						<tr>
							<td>PLN</td>
							<td><%= data.rates.PLN%></td>
						</tr>
						<tr>
							<td>BGN</td>
							<td><%= data.rates.BGN%></td>
						</tr>
						<tr>
							<td>TRY</td>
							<td><%= data.rates.TRY%></td>
						</tr>
						<tr>
							<td>CNY</td>
							<td><%= data.rates.CNY%></td>
						</tr>
						<tr>
							<td>NOK</td>
							<td><%= data.rates.NOK%></td>
						</tr>
						<tr>
							<td>NZD</td>
							<td><%= data.rates.NZD%></td>
						</tr>
						<tr>
							<td>ZAR</td>
							<td><%= data.rates.ZAR%></td>
						</tr>
						<tr>
							<td>USD</td>
							<td><%= data.rates.USD%></td>
						</tr>
						<tr>
							<td>MXN</td>
							<td><%= data.rates.MXN%></td>
						</tr>
						<tr>
							<td>ILS</td>
							<td><%= data.rates.ILS%></td>
						</tr>
						<tr>
							<td>GBP</td>
							<td><%= data.rates.GBP%></td>
						</tr>
						<tr>
							<td>KRW</td>
							<td><%= data.rates.KRW%></td>
						</tr>
						<tr>
							<td>MYR</td>
							<td><%= data.rates.MYR%></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<% } %>
<% } %>